<link rel="stylesheet" href="~/css/modals/_addProject.css" asp-append-version="true" />
@model ProjectViewModel

<div id="addProjectModal" class="modal-overlay">
    <div class="bg-modal">
        <div class="member-header">
            <h2>Add Project</h2>
            <img class="close-modal" data-close="true" src="~/images/close-icon.svg" />
        </div>
        <form novalidate>
            <div class="image-previewer square">
                <img class="image-preview" src="" />
                <input asp-for="ProjectImage" type="file" accept="image/*" class="hide" />
            </div>

            <div class="form-group">
                <label asp-for="Name"></label>
                <div class="field-group">
                    <input asp-for="Name" />
                    <span></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Client"></label>
                <div class="field-group">
                    <input asp-for="Client" />
                    <span></span>
                </div>
            </div>
            <div class="form-group-flex">
                <div class="form-group">
                    <label asp-for="StartDate"></label>
                    <div class="field-group">
                        <input type="date" asp-for="StartDate" />
                        <span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate"></label>
                    <div class="field-group">
                        <input type="date" asp-for="EndDate" />
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <div class="field-group">
                    <textarea asp-for="Description"></textarea>
                    <span></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Members"></label>
                <partial name="Partials/Components/_CompactMemberList" />
            </div>
            <div class="form-group">
                <label asp-for="Budget"></label>
                <div class="field-group">
                    <input asp-for="Budget" />
                    <span></span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Add Contact</button>
        </form>
    </div>
</div>

@await Html.PartialAsync("_ValidationScript")
@await Html.PartialAsync("~/Views/Shared/Partials/Modals/_CloseModalScript.cshtml")