<link rel="stylesheet" href="~/css/members/member.css" asp-append-version="true" />
@model IEnumerable<Member> 

<partial name="Partials/Modals/_AddMember" model="new MemberCreateForm()" />
<partial name="Partials/Modals/_EditMember" model="new Member()" />

<div class="team-header">
    <h2>Team Members</h2>
    <button type="button" data-modal="true" data-target="#addMemberModal" class="btn btn-primary"><img src="~/images/plus-icon.svg" /> Add Member</button>
</div>
<div class="team-container">
    @foreach (var member in Model)
    {
        <partial name="Partials/Components/_MemberCard" model="member" />
        
    }
</div>
