.clients-container {
    padding: 2rem;
    display: grid;
    gap: 2rem;
}

.clients-header {
    display: flex;
    justify-content: space-between;
}

    .clients-header .btn {
        width: auto;
    }

table {
    display: grid;
    background-color: var(--bg-table);
    width: 100%;
    padding: 1rem;
    border-radius: var(--border-radius-16);
}

    table tr {
        border-radius: var(--border-radius-16);
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 1rem;
    }

        table tr:hover {
            background-color: orange;
            cursor: pointer;
        }
