.project-container {
    padding: 2rem 1.875rem;
    display: grid;
    gap: 2rem;
}

.project-header {
    display: flex;
    justify-content: space-between;
}

    .project-header .btn {
        width: auto;
    }

.sort-options ul {
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid var(--layout-border);
}

    .sort-options ul li {
        color: var(--color-list-options);
        font-size: var(--font-15);
        font-weight: var(--font-weight-bold);
        padding-bottom: 0.875rem;
    }

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 18.75rem));
    gap: 1rem;
}
