<link rel="stylesheet" href="~/css/projects/project.css" asp-append-version="true" />
@model IEnumerable<ProjectViewModel>

<partial name="Partials/Modals/_AddProject" model="@new ProjectCreateForm()" />
<partial name="Partials/Modals/_EditProject" model="@new Project()" />
<div class="project-container">
    <div class="project-header">
        <h2>Projects</h2>
        <button type="button" data-modal="true" data-target="#addProjectModal" class="btn btn-primary"><img src="~/images/plus-icon.svg" />Add Project</button>
    </div>
    <div class="sort-options">
        <ul class="options-list">
            <li data-filter="all" class="active">ALL [@Model.Count()]</li>
            <li data-filter="started">STARTED [@Model.Count(p => p.StartDate <= DateOnly.FromDateTime(DateTime.Now) && p.EndDate >= DateOnly.FromDateTime(DateTime.Now) || !p.EndDate.HasValue)]</li>
            <li data-filter="completed">COMPLETED [@Model.Where(p => p.Status == true).Count()]</li>
            <li data-filter="expired">EXPIRED [@Model.Count(p => p.EndDate.HasValue && p.EndDate < DateOnly.FromDateTime(DateTime.Now) && p.Status == false)]</li>
        </ul>
    </div>
    <div class="project-grid">
        @foreach (var projects in Model)
        {
            <partial name="Partials/Components/_ProjectCard" model="projects" />
        }
    </div>
</div>

<script src="~/js/formDataLoaderClients.js" asp-append-version="true"></script>
<script src="~/js/formDataLoaderProject.js" type="module" asp-append-version="true"></script>
<script src="~/js/sortProject.js" asp-append-version="true"></script>
<script src="~/js/completeProject.js" asp-append-version="true"></script>