<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pressentation_MVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/layouts/_AdminPortalLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/account/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <main>
        <div>
            @RenderBody()
        </div>
        <div class="login-container">
            <partial name="AdminSignIn" />
        </div>
    </main>
    @await Html.PartialAsync("Scripts/_ValidationScript")
    @await Html.PartialAsync("Scripts/_ShowPasswordScript")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>