<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pressentation_MVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layouts/_PortalLayout.css" asp-append-version="true" />

</head>
<body>
    <div class="center-screen">
        <div class="border-div">
            @RenderBody()
        </div>
    </div>

    <script src="~/js/signIn.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>