@model SignUpForm

<form id="auth-form" method="post" asp-controller="Auth" asp-action="SignUp" novalidate>
    <div class="form-input">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" id="username" class="input-field" type="text" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-input">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="input-field" type="text" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-input">
        <label asp-for="Email"></label>
        <input asp-for="Email" id="email" class="input-field" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-input password-container">
        <label asp-for="Password"></label>
        <div class="center-eye">
            <input asp-for="Password" id="password" class="input-field" />
            <img class="toggle-password eye-icon" src="/images/eye-closed.svg" alt="Toggle Password">
        </div>
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-input password-container">
        <label asp-for="ConfirmPassword"></label>
        <div class="center-eye">
            <input asp-for="ConfirmPassword" id="confirmPassword" class="input-field" />
            <img class="toggle-password eye-icon" src="/images/eye-closed.svg" alt="Toggle Password">
        </div>
        <span asp-validation-for="ConfirmPassword"></span>

    </div>
    <div class="form-terms">
        <div class="terms-span-container">
            <input asp-for="TermsConfirmed" id="acceptTerms" type="checkbox" required />
            <span asp-validation-for="TermsConfirmed" id="terms-invalid"></span>
        </div>
        <label for="acceptTerms">I accept</label>
        <a href="#">Terms and Conditions</a>
    </div>
    <button class="btn btn-primary" type="submit">Create Account</button>
</form>