<link rel="stylesheet" href="~/css/components/_AlphaLogo.css" asp-append-version="true" />
<div class="brand-wrapper">
    <img src="~/images/alpha-logo.svg" alt="logo" />
    <p class="brand-name">alpha</p>
</div>