<link rel="stylesheet" href="~/css/components/_CompactMemberList.css" asp-append-version="true" />

<div class="compact-container">
    <div class="compact-search">
        <input class="compact-search-field" type="search" placeholder="Search.." />
        <img data-compact-search="true" class="compact-search-icon" src="~/images/search-icon.svg" />
    </div>
    <ul class="compact-ul">
        <li class="compact-li">
            <img class="compact-li-img" src="~/images/profiles/7.svg" />
            <span>Hans Hansson</span>
            <img class="compact-li-close" src="~/images/close-icon.svg" />
        </li>
        <li class="compact-li">
            <img class="compact-li-img" src="~/images/profiles/7.svg" />
            <span>Hans Hansson</span>
            <img class="compact-li-close" src="~/images/close-icon.svg" />
        </li>
        <li class="compact-li">
            <img class="compact-li-img" src="~/images/profiles/7.svg" />
            <span>Handddsss Hansdfsdfsson</span>
            <img class="compact-li-close" src="~/images/close-icon.svg" />
        </li>
        <li class="compact-li">
            <img class="compact-li-img" src="~/images/profiles/7.svg" />
            <span>Hans Hanssdfson</span>
            <img class="compact-li-close" src="~/images/close-icon.svg" />
        </li>
        <li class="compact-li">
            <img class="compact-li-img" src="~/images/profiles/7.svg" />
            <span>Hans Hanssdfson</span>
            <img class="compact-li-close" src="~/images/close-icon.svg" />
        </li>
        <li class="compact-li">
            <img class="compact-li-img" src="~/images/profiles/7.svg" />
            <span>Hans Hanssdfson</span>
            <img class="compact-li-close" src="~/images/close-icon.svg" />
        </li>
    </ul>
</div>