<link rel="stylesheet" href="~/css/components/_CompactMemberList.css" asp-append-version="true" />

<div class="compact-container">
    <div id="compact-search" class="compact-search">
        <input class="compact-search-field" id="searchInput" oninput="filterList()" onfocus="filterList()" type="text" placeholder="Search.." />
        <img data-compact-search="true" class="compact-search-icon" src="~/images/search-icon.svg" />
    </div>
        <div id="dropdown" class="dropdown"></div>
    <ul id="selectedList" class="compact-ul">
    </ul>
</div>

<script src="~/js/compact-search.js" asp-append-version="true" ></script>