<link rel="stylesheet" href="~/css/components/_Search.css" />
<div class="search-container">
    <img class="search-icon" src="~/images/search-icon.svg" />
    <input id="searchInput" type="text" class="search-input" placeholder="Search..." />
</div>

<script src="~/js/searchFor.js" asp-append-version="true"></script>