<link rel="stylesheet" href="~/css/components/_Search.css" />
<div class="search-container">
    <img class="search-icon" src="~/images/search-icon.svg" />
    <input type="text" class="search-input" placeholder="Search..." />
</div>
