<link rel="stylesheet" href="~/css/components/_UserCard.css" asp-append-version="true" />

<div class="user-card">
    <div data-menu="true" class="user-card__more">
        <img src="~/images/more-icon.svg" />
        <partial name="Partials/Components/PopOutMenu/_MemberOptions" />
    </div>
    <div class="user-card__image">
        <img src="~/images/profiles/1.svg" />
    </div>
    <div class="user-card__info">
        <h4>Andreas Karlsson</h4>
        <span>Kungen av Mat</span>
        <p class="user-card__email">email@email.com</p>
        <p class="user-card__phone">+4670-123 12 12</p>
    </div>
    <button class="user-card__button btn btn-gray">Message</button>
</div>
