.member-card {
    background-color: var(--bg-card-color);
    display: grid;
    padding: 1.75rem 1.5rem;
    position: relative;
    text-align: center;
    border-radius: var(--radius-card);
    box-shadow: var(--surface2);
    height: 28.75rem;
}

    .member-card::after {
        content: "";
        height: 2rem;
        background-color: var(--bg-card-color);
        position: absolute;
        bottom: -4px;
        width: 94%;
        z-index: -1;
        border-radius: var(--radius-card);
        inset-inline: 0;
        margin: auto;
    }

.member-card-role {
    position: absolute;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
}

.dropdown-roles {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    background-color: var(--bg-popout-menu);
    z-index: 10;
}

.dropdown-roles-ul {
    text-align: left;
}

    .dropdown-roles-ul li:hover {
        background-color: var(--bg-card-color-span);
        border-radius: var(--border-radius-8);
        padding: .5rem;
        cursor: pointer;
    }

.member-card-more {
    position: absolute;
    top: 1.25rem;
    right: 1.5rem;
    display: flex;
    padding: .5rem;
}

    .member-card-more:hover {
        cursor: pointer;
        background-color: var(--bg-more-hover);
        border-radius: var(--border-radius-12);
    }

.member-card-image {
    margin: 1.125rem auto 1rem auto;
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    overflow: hidden;
}

    .member-card-image img {
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

.member-card-info h4 {
    padding-bottom: 0.438rem;
}

.member-card-info span {
    background-color: var(--bg-card-color-span);
    padding: 0.438rem 0.875rem;
    border-radius: var(--radius-card-span);
    font-size: var(--font-12);
}

.member-card-email {
    padding-top: 1.438rem;
}

.member-card-phone {
    padding-top: 0.813rem
}

.member-card-button {
    margin-top: 1.5rem;
    font-size: var(--font-15);
}
