.user-card {
    background-color: var(--bg-card-color);
    display: grid;
    padding: 1.75rem 1.5rem;
    position: relative;
    text-align: center;
    border-radius: var(--radius-card);
    box-shadow: var(--surface2);
}

    .user-card::after {
        content: "";
        height: 2rem;
        background-color: var(--bg-card-color);
        position: absolute;
        bottom: -4px;
        width: 94%;
        z-index: -1;
        border-radius: var(--radius-card);
        inset-inline: 0;
        margin: auto;
    }

.user-card__more {
    position: absolute;
    top: 1.25rem;
    right: 1.5rem;
}

.user-card__image {
    padding-block: 1.25rem 1rem;
}

    .user-card__image img {
        height: 100%;
        aspect-ratio: 1/1;
    }

.user-card__info h4 {
    padding-bottom: 0.438rem;
}

.user-card__info span {
    background-color: var(--bg-card-color-span);
    padding: 0.438rem 0.875rem;
    border-radius: var(--radius-card-span);
    font-size: var(--font-12);
}

.user-card__email {
    padding-top: 1.438rem;
}

.user-card__phone {
    padding-top: 0.813rem
}

.user-card__button {
    margin-top: 1.5rem;
    font-size: var(--font-15);
}