<link rel="stylesheet" href="~/css/account/admin.css" asp-append-version="true" />
@{
    Layout = "_AdminPortalLayout";
    ViewData["Title"] = "Admin";
}
<div class="panel-admin">
    <h1 class="admin-header">Welcome to <br /> <span>Admin Panel</span></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat, vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.</p>
</div>
