@{
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/account/login.css" asp-append-version="true" />
<div class="login-container">
    <partial name="Partials/Components/Login/_LoginHeader" />
    <partial name="Partials/Components/Login/_LoginBody" />
    <partial name="Partials/Components/_NoAccount" />
</div>