@{
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    ViewData["Title"] = "Log in";
}
<link rel="stylesheet" href="~/css/account/login.css" asp-append-version="true" />

<div class="login-container">
    <partial name="Partials/Components/SignIn/_SignInHeader" />
    <partial name="Partials/Components/SignIn/_SignInBody" />
    <partial name="Partials/Components/_NoAccount" />
</div>