<link rel="stylesheet" href="~/css/notification/_Notification.css" asp-append-version="true" />

<div data-util-display="true" class="notification-container">
    <div class="not-head">
        <span class="not-header-text">Notification</span>
        <div class="dot dot-red">
            <span class="not-count">1</span>
        </div>

    </div>
    <div class="divider"></div>
    <div class="notification-list">
        <div class="notification-item">
            <img class="notification-img" src="~/images/projectIcons/1.svg" />
            <div>
                <p>New message from John Doe</p>
                <span class="time">2 minutes ago</span>
            </div>
            <img class="remove" src="~/images/close-icon.svg" />
        </div>

    </div>
</div>