.project-options-container {
    display: none;
    position: absolute;
    right: 0;
    top: 2.8rem;
    background-color: var(--bg-popout-menu);
    min-width: 230px;
    padding: .5rem;
    border-radius: var(--border-radius-14);
    box-shadow: var(--popup-80);
}

.project-options-container a {
    color: var(--color-link-menu);
}

.options-group {
    padding: 0.875rem;
    display: flex;
    gap: 1rem;
    font-size: var(--font-15);
}

    .options-group:hover {
        background-color: var(--bg-more-hover);
        border-radius: var(--border-radius-14);
        cursor: pointer;
    }

.project-options-container a:last-child {
    border-top: 1px solid var(--layout-border);
    color: var(--red);
}
