.project-options-container {
    display: none;
    position: absolute;
    right: 0;
    top: 2.8rem;
    background-color: var(--bg-popout-menu);
    min-width: 230px;
    padding: .5rem;
    border-radius: var(--border-radius-14);
    box-shadow: var(--popup-80);
}

    .project-options-container a {
        color: var(--color-link-menu);
    }

.relative-container {
    position: relative;
}

.member-list {
    position: absolute;
    right: 105%;
    top: 0;
    z-index: 10;
    background-color: var(--bg-popout-menu);
    max-width: 12rem;
    max-height: 20rem;
    padding: 0.5rem;
    border-radius: var(--border-radius-14);
    box-shadow: var(--popup-80);
}

.member-select {
    border: none;
}

    .member-select option {
        font-size: var(--font-15);
        font-weight: var(--font-weight-semibold);
        font-family: 'Nunito';
        cursor: pointer;
        padding: .2rem;
    }
        .member-select option:hover {
            background-color: var(--bg-more-hover);
            color: var(--color-link-menu);
            border-radius: var(--border-radius-8);
        }

.options-group {
    padding: 0.875rem;
    display: flex;
    gap: 1rem;
    font-size: var(--font-15);
}

    .options-group:hover {
        background-color: var(--bg-more-hover);
        border-radius: var(--border-radius-14);
        cursor: pointer;
    }

.delete-link {
    border-top: 1px solid var(--layout-border);
    color: var(--red);
}

.hidden {
    display: none;
}

.input-complete-project {
    height: 1.25rem;
    aspect-ratio: 1;
}
