.create-container {
    display: grid;
    margin: auto;
}

    .create-container a {
        text-decoration: none;
        font-size: var(--font-15);
        color: var(--color-link);
    }

    .create-container h1 {
        text-align: center;
    }

    .create-container .btn-google {
        margin-top: 1.688rem;
        margin-bottom: 2.313rem;
    }

.form-terms {
    padding-block: 0.875rem 1.375rem;
    font-size: var(--font-15);
    color: var(--color-checkbox-text);
}

.btn.btn-primary {
    width: 100%;
}

.sign-in {
    padding-top: 3.375rem;
    text-align: center;
}
