.login-container {
    display: grid;
    margin: auto;
}

    .login-container .login {
        text-align: center;
    }

    .login-container .btn-gray {
        margin-top: 1.688rem;
        margin-bottom: 2.313rem;
        display: block;
    }

.form-me {
    display: flex;
    justify-content: space-between;
    padding-block: 0.875rem 1.375rem;
    font-size: var(--font-15);
    color: var(--color-checkbox-text);
}

    .form-me a {
        text-decoration: none;
        font-size: var(--font-15);
        color: var(--color-link);
    }

.noAccount {
    padding-top: 3.688rem;
    text-align: center;
}

    .noAccount a {
        text-decoration: none;
        color: var(--color-link);
    }
