.create-container {
    display: grid;
    margin: auto;
}

    .create-container a {
        text-decoration: none;
        font-size: var(--font-15);
        color: var(--color-link);
    }

    .create-container h1 {
        text-align: center;
    }

    .create-container .btn-google {
        margin-top: 1.688rem;
        margin-bottom: 2.313rem;
    }

.form-terms {
    padding-block: 0.875rem 1.375rem;
    font-size: var(--font-15);
    color: var(--color-checkbox-text);
}

.btn.btn-primary {
    width: 100%;
}

.sign-in {
    padding-top: 3.375rem;
    text-align: center;
}

.form-input .field-validation-error {
    position: absolute;
    font-size: var(--font-12);
    color: var(--validation-error-text);
    border-top-right-radius: var(--border-radius-14);
    border-top-left-radius: var(--border-radius-14);
    right: 0;
    top: 2.2rem;
    background-color: var(--validation-error-bg);
    padding: .5rem .5rem 1rem .5rem;
}