<link rel="stylesheet" href="~/css/components/popOutMenu/_memberOptions.css" asp-append-version="true" />
@model Member
<div data-display="true" class="member-options-container">
    <a data-modal="true" data-target="#editMemberModal" data-id="@Model.Id" class="member-options-group">
        <img class="edit-icon" src="~/images/edit-icon.svg" />
        Edit
    </a>
    <div class="member-options-group">
        <a data-delete="true" data-controller="members" data-id="@Model.Id" class="options-group">
            <img src="~/images/delete-icon.svg" />
            Delete
        </a>
    </div>
</div>
<script src="~/js/formDataLoaderMember.js"></script>