<link rel="stylesheet" href="~/css/components/popOutMenu/_memberOptions.css" asp-append-version="true" />
@model Member
<div data-display="true" class="member-options-container">
    <a data-modal="true" data-target="#editMemberModal" class="member-options-group" >
        <img src="~/images/edit-icon.svg" />
        <p>Edit</p>
    </a>

    <div class="member-options-group">
        <img src="~/images/delete-icon.svg" />
        <p>Delete</p>
    </div>
</div>

@* asp-controller="Auth" asp-action="EditMember" asp-route-id="@Model.Id" *@