<link rel="stylesheet" href="~/css/components/popOutMenu/_memberOptions.css" asp-append-version="true" />

<div data-display="true" class="options-container">
    <div class="user-container">
        Edit
    </div>
   
    <div class="logout-container">
        <a href="#">
            <img src="~/images/delete-icon.svg" />
            <p>Delete</p>
        </a>
    </div>
</div>