<link rel="stylesheet" href="~/css/components/popOutMenu/_projectOptions.css" asp-append-version="true" />

<div data-display="true" class="project-options-container">
    <div class="options-group">
        <img src="~/images/edit-icon.svg" />
        Edit
    </div>
    <div class="options-group">
        <img src="~/images/add-user-icon.svg" />
        Add Member
    </div>
    <div class="options-group">
        <img src="~/images/delete-icon.svg" />
        Delete Project
    </div>
</div>