<link rel="stylesheet" href="~/css/components/popOutMenu/_userOptions.css" asp-append-version="true" />

<div data-display="true" class="user-options-container">
    <div class="user-container">
        <div>
            @await Component.InvokeAsync("ProfileImage")
        </div>
        @await Component.InvokeAsync("UserName")
    </div>
    <div class="switch-container">
        <div class="switch-header">
            <img src="~/images/setting-icon.svg" />
            <p>Dark Mode</p>
        </div>
        <label class="switch">
            <input type="checkbox" id="theme-switch" />
            <span class="slider"></span>
        </label>
    </div>
    <div class="logout-container">
        <a asp-controller="Auth" asp-action="Logout">
            <img src="~/images/logout-icon.svg" />
            <p>Logout</p>
        </a>
    </div>
</div>