.form-input {
    display: grid;
    min-width: 25rem;
    margin-block: 1.5rem 1rem;
    position: relative;
    z-index: 1;
}

    .form-input label {
        font-size: var(--font-15);
        font-weight: var(--font-weight-semibold);
        color: var(--color-heading);
        margin-bottom: 0.5rem;
    }

.input-field {
    border: 3px solid var(--color-input-border);
    border-radius: var(--border-radius-14);
    padding: 0.875rem 1rem;
    font-size: var(--font-15);
    width: 100%;
    z-index: 1;
}

    .input-field:focus {
        outline: none;
    }

    .input-field::placeholder {
        color: var(--placeholder);
    }

.toggle-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.3rem;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye-icon {
    height: 1.5rem;
    aspect-ratio: 1/1;
    z-index: 1;
}

.center-eye {
    position: relative;
    z-index: 1;
}
