<form asp-controller="Auth" asp-action="ExternalSignIn" method="post" class="external-account" novalidate >
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
    <button type="submit" name="provider" class="btn btn-gray btn-google">Sign in with Google</button>
</form>