<link rel="stylesheet" href="~/css/components/_SideNav.css" />

<partial name="Partials/Components/_AlphaLogo" />
<ul class="side-nav-list">
    <li>
        <a class="side-nav-link @(Context.Request.Path == "/" ? "active" : "")" asp-controller="Home" asp-action="Project">
            <img class="nav-icon" src="~/images/projects-icon.svg" alt="portfolio icon" />
            Projects
        </a>
    </li>
    <li>
        <a class="side-nav-link @(Context.Request.Path == "/team" ? "active" : "")" asp-controller="Home" asp-action="Team">
            <img class="nav-icon" src="~/images/contacts-icon.svg" alt="portfolio icon" />
            Team Members
        </a>
    </li>
    <li>
        <a class="side-nav-link @(Context.Request.Path == "/clients" ? "active" : "")" asp-controller="Home" asp-action="Clients">
            <img class="nav-icon" src="~/images/handshake-icon.svg" alt="portfolio icon" />
            Clients
        </a>
    </li>
</ul>