<link rel="stylesheet" href="~/css/components/_TopNav.css" />

<partial name="Partials/Components/_Search" />
<ul data-util="true" class="top-nav-list">
    <li id="not-bel-dot" class="notification">
        <img class="bell" src="~/images/bell-icon.svg" />
        <partial name="Partials/Notification/_Notification" />
    </li>
    <li data-util="true" class="settings">
        <img src="~/images/setting-icon.svg" />
        <partial name="Partials/Components/PopOutMenu/_UserOptions" />
    </li>
</ul>
<div class="profile-container">
    @await Component.InvokeAsync("ProfileImage")
</div>