<link rel="stylesheet" href="~/css/components/_TopNav.css" />

<partial name="Partials/Components/_Search" />
<ul class="top-nav-list">
    <li class="notification">
        <img src="~/images/bell-icon.svg" />
    </li>
    <li class="settings">
        <img src="~/images/setting-icon.svg" />
        <partial name="Partials/Components/PopOutMenu/_UserOptions" />
    </li>
</ul>
<div class="profile-container">
    <img class="profile-avatar" src="~/images/profiles/1.svg" alt="avatar" />
</div>