<link rel="stylesheet" href="~/css/home/clients.css" asp-append-version="true" />
@model IEnumerable<Client>

<partial name="Partials/Modals/_AddClient" model="new ClientViewModel()"/>
<div class="clients-container">
    <div class="clients-header">
        <h2>Clients</h2>
        <button type="button" data-modal="true" data-target="#addClientModal" class="btn btn-primary"><img src="~/images/plus-icon.svg" />Add Client</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
                <tr>
                    <td>
                        <img src="~/images/projectIcons/1.svg" />
                    </td>
                    <td>
                        @client.Name
                    </td>
                    <td>
                        <i class="fas fa-trash"></i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>