<link rel="stylesheet" href="~/css/home/clients.css" asp-append-version="true" />

<partial name="Partials/Modals/_AddClient" />
<div class="clients-container">
    <div class="clients-header">
        <h2>Clients</h2>
        <button type="button" data-modal="true" data-target="#addClientModal" class="btn btn-primary"><img src="~/images/plus-icon.svg" />Add Client</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="" />
                    img
                </td>
                <td>
                    Client 1
                </td>
                <td>
                    Button for delete
                </td>
            </tr>
            <tr>
                <td>
                    <img src="" />
                    img
                </td>
                <td>
                    Client 2
                </td>
                <td>
                    Button for delete
                </td>
            </tr>
            <tr>
                <td>
                    <img src="" />
                    img
                </td>
                <td>
                    Client 3
                </td>
                <td>
                    Button for delete
                </td>
            </tr>
        </tbody>
    </table>
</div>