<link rel="stylesheet" href="~/css/home/project.css" asp-append-version="true" />
@model List<ProjectViewModel>

<partial name="Partials/Modals/_AddProject" model="new ProjectViewModel()" />
<div class="project-container">
    <div class="project-header">
        <h2>Project</h2>
        <button type="button" data-modal="true" data-target="#addProjectModal" class="btn btn-primary"><img src="~/images/plus-icon.svg" />Add Project</button>
    </div>
    <div class="sort-options">
        <ul class="options-list">
            <li>ALL [@Model.Count]</li>
            <li>STARTED [?]</li>
            <li>COMPLETED [?]</li>
        </ul>
    </div>
    <div class="project-grid">
        @foreach (var project in Model)
        {
            <partial name="Partials/Components/_ProjectCard" model="project" />
        }
    </div>
    <partial name="Partials/Components/testSearch" />
</div>
