@{
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    ViewData["Title"] = "Create Account";
}
<div class="create-container">
    <h1>Create Account</h1>
    <button class="btn btn-gray btn-google">Login with Google</button>
    <div class="or-text">or</div>
    <form>
        <div class="form-input">
            <label for="username">Full Name</label>
            <input id="username" class="input-field" type="text" placeholder="Your full name" required />
        </div>
        <div class="form-input">
            <label for="email">Email</label>
            <input id="email" class="input-field" type="email" placeholder="Your email address" required />
        </div>
        <div class="form-input password-container">
            <label for="password">Password</label>
            <input id="password" class="input-field" type="password" placeholder="Enter your password" required />
            <img class="toggle-password eye-icon" src="/images/eye-closed.svg" alt="Toggle Password">
        </div>
        <div class="form-input password-container">
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" class="input-field" type="password" placeholder="Confirm your password" required />
            <img class="toggle-password eye-icon" src="/images/eye-closed.svg" alt="Toggle Password">

        </div>
        <div class="form-terms">
            <input id="acceptTerms" type="checkbox" required />
            <label for="acceptTerms">I accept</label>
            <a href="#">Terms and Conditions</a>
        </div>
        <button class="btn btn-primary" type="submit">Create Account</button>
    </form>
    <p class="sign-in">Already have an account? <a asp-controller="Account" asp-action="Login">Login</a></p>
</div>
