@{
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    ViewData["Title"] = "Create Account";
}
<div class="create-container">
    <partial name="Partials/Components/Signup/_SignupHeader" />
    <partial name="Partials/Components/Signup/_SignupBody" />
    <p class="sign-in">Already have an account? <a asp-controller="Account" asp-action="Login">Login</a></p>
</div>
